@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Outfit", sans-serif;
    @apply selection:bg-indigo-500 selection:text-white;
}

.hoverEffect {
    @apply hover:brightness-[0.98] active:brightness-[0.96] transition-all duration-100;
}
.hoverEffectOpacity {
    @apply transition-all duration-100 hover:opacity-90 active:opacity-80;
}

.generalInput {
    @apply transition-all duration-100 border-gray-300 rounded-md shadow-sm dark:border-gray-700 dark:bg-gray-900 dark:text-gray-300 focus:border-indigo-500 dark:focus:border-indigo-600 focus:ring-indigo-500 dark:focus:ring-indigo-600;
}

.generalButton {
    @apply flex items-center justify-center gap-1 px-4 py-2 rounded hoverEffect;
}

.header {
    @apply text-2xl font-semibold tracking-wider dark:text-gray-100;
}

/* transition offcanvas */
.slide-fade-enter-active {
    transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
    transition: all 0.4s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateX(100%);
    opacity: 0;
}

/* transition tab */
.tab-fade-enter-active {
    transition: all 0.3s ease-out;
}
.tab-fade-leave-active {
    transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}
.tab-fade-enter-from,
.tab-fade-leave-to {
    opacity: 0;
}
.tab-fade-enter-from {
    transform: translateX(-50px);
}
.tab-fade-leave-to {
    transform: translateX(100px);
}

/* Mobile Slide */
.mobile-slide-enter-active .outer {
    transition: all 0.1s ease-in;
}

.mobile-slide-enter-from .outer,
.mobile-slide-leave-to .outer {
    transform: translateY(20px);
    opacity: 0;
}

/* rules that target mobile-slide elements */
.mobile-slide-enter-active .inner,
.mobile-slide-leave-active .inner {
    transition: all 0.2s ease-in-out;
}

.mobile-slide-enter-from .inner,
.mobile-slide-leave-to .inner {
    transform: translateY(100%);
    opacity: 0;
}

.mobile-slide-enter-active .inner {
    transition-delay: 0.1s;
}
